.Ball {
  background-color: #654062;
  border-radius: 50%;
  color: #ffe9d6;
  display: inline-block;
  width: 3.9rem;
  height: 3.2rem;
  padding: 1rem 0.2rem 0rem 0.2rem;
  margin: 1.7rem 0.3rem 2.5rem 0.3rem;
  align-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
